<form
  (ngSubmit)="onLogin()"
  class="container-sm"
  style="text-align: center; width: 33%; margin-top: 10%"
>
  <mdb-form-control>
    <input
      [(ngModel)]="email"
      mdbInput
      type="email"
      name="email"
      id="Email"
      class="form-control"
    />
    <label mdbLabel class="form-label" for="email">Email</label>
  </mdb-form-control>
  <mdb-form-control style="margin-top: 1%">
    <input
      [(ngModel)]="password"
      mdbInput
      type="password"
      name="password"
      id="password"
      class="form-control"
    />
    <label mdbLabel class="form-label" for="password">Password</label>
  </mdb-form-control>
  <button
    style="margin-top: 2%; width: 100%"
    type="submit"
    class="btn btn-primary"
  >
    Login
  </button>
  <hr color="black" />
  <h4>No account yet ?</h4>
  <button
    style="margin-top: 2%; width: 100%"
    type="button"
    class="btn btn-success"
    (click)="registerClick()"
  >
    Register
  </button>
</form>
